target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar


**/mvnw
**/mvnw.cmd
**/.gitignore
**/.mvn
**/target
.idea
# 安装 git-secrets
brew install git-secrets

# 设置项目扫描
git secrets --install

# 为 AWS 或其他云服务的密钥设置检测规则
git secrets --register-aws
